extends layout

block title
    title= 'Web server behind HA Proxy'
    div(class='center-div')
        div
            p Requesting IP address
            p ip
        div
            p HA Proxy server address
            p ip
        div
            p Server IP address
            p ip
        div
            p header info
            p ip
